spring:
  application:
    name: ai-incident-resolver

  datasource:
    url: jdbc:postgresql://localhost:5432/incidentdb
    username: admin
    password: admin123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080